<!-- 
    on -  especifica uma condição de acionar usando um acionador da lista
    (idle (padrao), timer[timer(1000ms)ou (1s)], viewport[ carrega quando o scroll chegar na posição ou a tela* ],interaction[ click focus carrega quando interagir trigger ],
     hover[ oassar por cima ], immediate,prefetch)
    ex: @defer (on timer(5s);prefetch on interaction(trigger);on hover;)
    when - especifica uma condição imperativa como uma expressao que retorna um boleano. quando esta expressao se torna verdadeira, o 
    espaço reservado é trocado pelo contúdo carregado lentamente ( o que pode ser uma operação assíncrona se as dependências 
    precisarem ser buscadas)
    
    loading after minimum
    nota varios trigger sao sempre condições OR. da mesma forma misturando com when também são condições OR
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Mais sobre...
Deferrable Views, também conhecidos como @defer blocks, são uma nova funcionalidade introduzida no Angular 17 que permite adiar o carregamento de determinadas partes de uma aplicação.

Isso pode ser usado para melhorar o desempenho das aplicações, especialmente aquelas com grandes quantidades de conteúdo.



Exemplos

Aqui estão alguns exemplos de como usar Deferrable Views para melhorar o desempenho das aplicações:

Carregamento de imagens: Você pode usar Deferrable Views para adiar o carregamento de imagens até que elas sejam visíveis na tela. Isso pode ajudar a melhorar o desempenho das aplicações móveis, onde a largura de banda é limitada.

Carregamento de dados: Você pode usar Deferrable Views para adiar o carregamento de dados até que eles sejam necessários. Isso pode ajudar a melhorar o desempenho das aplicações que precisam carregar grandes quantidades de dados.

Carregamento de componentes pesados: Você pode usar Deferrable Views para adiar o carregamento de componentes pesados até que eles sejam necessários. Isso pode ajudar a melhorar o desempenho das aplicações que usam componentes complexos ou personalizados.



Considerações

Ao usar Deferrable Views, é importante considerar os seguintes fatores:

Eficiência: Os Deferrable Views podem melhorar o desempenho das aplicações, mas eles também podem adicionar complexidade e aumentar o tempo de carregamento da primeira página.

Usuabilidade: Os Deferrable Views podem afetar a usabilidade das aplicações, pois o conteúdo pode não estar disponível imediatamente.



Os Deferrable Views são uma nova funcionalidade poderosa que pode ser usada para melhorar o desempenho das aplicações Angular. No entanto, é importante considerar os fatores acima antes de usá-los.

-->
<h2 #trigger>Deferrable View</h2> 

<button (click)="isTrue = true">Add True</button>


@defer (when loadingData$ | async ) {
    <app-primeiro-componente />

}@placeholder (minimum 2s) {
    <p>Mostrar antes de carregar algo.</p>
}@loading (minimum 4s;) {
    <p>Loading...</p>
} @error {
    <p>Loading failed : (</p>
}