:root{
    --primary: #43a047;
    --primary-010: #2e7d32;
    
    --white: #fff;

    --black: #10101a;
    --black-010: #000000;

    --grey: #9b9ba0;
    --grey-010: #757575;   

    --red:  #f44336;   
    --red-010: #d32f2f;
 
}