<header>
<img
    src="/assets/avatar_portfolio_pericles.jpg"
    alt="Avatar Pericles"
    width="200px"
    height="200px"
    loading="eager"
/>
<h1>Pericles Carvalho</h1>
</header>

<aside>
    <div class="container">
        <p>Trainee PitStop | Angular | NodeJs | PorstgreSQL</p>
        <p>Manaus, Amazonas , Brasil</p>
        <p>
            Estou na área de desenvolvimento de software e aplicações a mais de 5 anos. Devido isso resolvi me tornar um desenvolvedor Full Stack.
        </p>
        <nav>
            <ul>
                <li>
                    <a href="https://github.com/pericles-carvalho" target="_blank" class="btn btn-secundary">
                    GitHub</a></li>
                <li>
                    <a href="https://www.linkedin.com/in/pericles-carvalho/" target="_blank" class="btn btn-secundary">
                    LinkedIn</a></li>
                <li>
                    <a href="assets/pdf/curriculo_pericles_carvalho.pdf" target="_blank" class="btn btn-primary">
                        Download CV
                    </a>
                </li>
            </ul>
        </nav>

        <section>
            <figure>
                <img
                    src="/assets/icons/whatsapp.svg"
                    alt="Icone para o WhatsApp"
                    width="24px"
                    height="24px"
                />
                <figcaption>
                    <a href="https://api.whatsapp.com/send?phone=5599999999999" target="_blank">
                    <strong>Envie uma mensagem para: </strong>
                    <p>+5599999999999</p>
                    </a>
                </figcaption>
            </figure>

            <figure>
                <img
                    src="/assets/icons/mail.svg"
                    alt="Icone para o Email"
                    width="24px"
                    height="24px"
                />
                <figcaption>
                    <a href="mailto:pericles.spc@gmail.com" target="_blank">
                    <strong>Envie uma e-mail para: </strong>
                    <p>pericles.spc&#64;gmail.com</p>
                    </a>
                </figcaption>
            </figure>

        </section>

    </div>
</aside>