:root {
    --primary: #43a047;
    --primary-010: #2e7d32;

    --white: #fff;

    --black: #10101a;
    --black-010: #3e3e47;

    --grey: #9b9ba0;
    --grey-010: #e8e8e8;    

    --red: #f44336;
    --red-010: #a3001e;
}