<h2>Template Driven Forms</h2>

<form #form="ngForm" (ngSubmit)="submitForm(form)">
    <label>
        Nome: 
        <input 
        type="text" 
        name="inputName"
        #name="ngModel"
        [ngModel]="name.value"
        required
        >
    </label>

    <hr />
    <p>Value: {{ name.value }}</p>
    <p>Valid: {{ name.valid }}</p>
    <p>Dirty: {{ name.dirty }}</p>
    <p>Touched: {{ name.touched }}</p>
    <hr />

    <label>
        Feminino: 
        <input 
        type="radio"
        value="Feminino" 
        name="radioSexo"
        #sexo="ngModel"
        [ngModel]="sexo.value"
        required
        >
    </label>

    <label>
        Masculino: 
        <input 
        type="radio"
        value="Masculino" 
        name="radioSexo"
        #sexo="ngModel"
        [ngModel]="sexo.value"
        required
        >
    </label>

    <label>
        Outros: 
        <input 
        type="radio"
        value="Outros" 
        name="radioSexo"
        #sexo="ngModel"
        [ngModel]="sexo.value"
        required
        >
    </label>

    <hr />
    <p>Value: {{ sexo.value }}</p>
    <p>Valid: {{ sexo.valid }}</p>
    <p>Dirty: {{ sexo.dirty }}</p>
    <p>Touched: {{ sexo.touched }}</p>
    <hr />

    <label>
        Angular: 
        <input 
        type="checkbox"
        value="Angular" 
        name="checkboxAngular"
        #techAngular="ngModel"
        [ngModel]="techAngular.value"
        required
        >
    </label>

    <hr />
    <p>Value: {{ techAngular.value }}</p>
    <p>Valid: {{ techAngular.valid }}</p>
    <p>Dirty: {{ techAngular.dirty }}</p>
    <p>Touched: {{ techAngular.touched }}</p>
    <hr />

    <label>
        Vue: 
        <input 
        type="checkbox"
        value="Vue" 
        name="checkboxVue"
        #techVue="ngModel"
        [ngModel]="techVue.value"
        required
        >
    </label>

    <hr />
    <p>Value: {{ techVue.value }}</p>
    <p>Valid: {{ techVue.valid }}</p>
    <p>Dirty: {{ techVue.dirty }}</p>
    <p>Touched: {{ techVue.touched }}</p>
    <hr />

    <label>
        React: 
        <input 
        type="checkbox"
        value="React" 
        name="checkboxReact"
        #techReact="ngModel"
        [ngModel]="techReact.value"
        required
        >
    </label>

    <hr />
    <p>Value: {{ techReact.value }}</p>
    <p>Valid: {{ techReact.valid }}</p>
    <p>Dirty: {{ techReact.dirty }}</p>
    <p>Touched: {{ techReact.touched }}</p>
    <hr />

    <select name="selectAlimento" #comidas="ngModel" ngModel>
        <option value="">Selecione um alimento</option>
        @for(item of listComidas(); track item){
            <option [ngValue]="item">{{ item.comida }}</option>
        }
    </select>

    <hr />
    <p>Value: {{ comidas.value | json}}</p>
    <p>Comida: {{ comidas.value?.comida | json}}</p>
    <p>Preço: {{ comidas.value?.preco | json}}</p>
    <p>Valid: {{ comidas.valid }}</p>
    <p>Dirty: {{ comidas.dirty }}</p>
    <p>Touched: {{ comidas.touched }}</p>
    <hr />

    <button [disabled]="!form.valid">Submit</button>
</form>

<p>Form Valid: {{ form.valid }}</p>
<p>Form Value: {{ form.value | json}}</p>