:root {
    --primary-color: #2fbf71;
    --primary-010: #21804d;

    --secondary-color: #06628a;
    --secondary-010: #053a6f;

    --white: #fff;

    --black: #10101a;
    --black-010: #3e3e47;

    --grey: #9b9ba0;
}